<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
Hello Dustin.
<br/>
<% 3.times do %>
    <%= 2+2 %>
    <p>HO!</p>
    <!--    <h2><%= @yo %></h2> -->
    <p><%= @now %></p>
<% end %>
<br/>
<div class="dustin">
<%= link_to "Teach Dustin", dustin_teach_path %>
</div>